modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start All Services"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Makubang Main Server"

[[workflows.workflow]]
name = "Makubang Main Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Makubang Full Stack"
author = 41534072
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Makubang Development"
author = 41534072
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:server"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:mobile"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:delivery"

[[workflows.workflow]]
name = "Makubang Development"
author = 41534072
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:server"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:mobile"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:delivery"

[[workflows.workflow]]
name = "Start All Services"
author = 41534072
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:server"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:mobile"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:delivery"

[[workflows.workflow]]
name = "Start All Services"
author = 41534072
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:server"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:mobile"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:delivery"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm"]
